h1, h2 {
	font-family: 'Yellowtail', cursive;
}

h2 {
	font-weight: bold;
}

h3,h4,h5,h6, p, panel-body {
	font-family: 'Open Sans', sans-serif;
}

body, html {
	height: 100%
}

.navbar-inverse {
	background-color: #fff !important;
	opacity: 0.75;
	filter: alpha(opacity=75);
	border-color: #fff;
	background-image: none;
	box-shadow: none;
}

.navbar-inverse .navbar-nav>li>a {
	font-size: 20px;
	color: #008080;
}

.nav-pills li.active a {
	background-color: #008080;
}

.title {
	margin-top: 25px;
	margin-bottom: 25px;
}

.bgimg {
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

.bgimg-1 {
	background-image: url("headingphotowithtext.jpg");
}


.bg-1 {
	background-color: #ffffff;
	color: #555555;
}

.bg-2 {
	background-color: #008080;
	color: #555555;
}

.bg-3 {
	background-color: #e4ca9a;
	color: #555555;
}

.bg-4 {
	background-color: #edeae8;
	color: #555555;
}

.bg-5 {
	background-color: #faa7a6;
	color: #555555;
}

.bg-6 {
	background-color: #5b99a4;
	color: #555555;
}

.bg-7 {
	background-color: #d3d3d3;
	color: #555555;
}

.bg-8 {
	background-color: #a6f9fa;
	color: #555555;
}

a:link, a:visited {
	color: #f88379;
	text-decoration: underline;
}

a:hover, a:active {
	color: #008080;
	text-decoration: underline;
}

.shadow {
	box-shadow: 0px 5px 25px 0px #36454f;
}

@media (min-width: 700px) {
.equal {
	display: -webkit-flex;
	display: flex;
	}
}

.panel {
	border: 1px solid #000;
	border-radius: 0 !important;
	transition: box-shadow 0.5s;
	width: 100%;
	height: 100%;
}

.panel:hover {
	box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel > .panel-footer {
	background-color: white !important;
}

.row {
	margin: 8px -16px;
}

.row, .row > .column {
	padding: 0 8px;
}

.column {
	float: left;
	width: 25%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #36454f;
}

.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 90%;
	max-width: 1200px;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next-hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.caption-container {
	text-align: center;
	background-color: black;
	padding: 2px 16px;
	color: white;
}

.img.demo {
	opacity: 0.6;
}

.active , .demo-hover {
	opacity: 1;
}

img.hover-shadow {
	transition: 0.3s;
}

.hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-content, #caption {
	animation-name: zoom;
	animation-duration: 0.6s;
}

@keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
}

.close {
	position: absolute;
	top: 10px;
	right: 25px;
	color: #f1f1f1;
	font-size: 35px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover, .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

@media only screen and (max-width: 700px) {
	.modal-content {
		width: 100%;
	}
}

.sectionborder {
	border-width: 5px;
	border-top-style: dotted;
	border-top-color: #008080;
	top: 30px;
}